<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3 appHighlight [highlight]="color" [txtcolor]="txtcolor" style="width:40%;margin: auto;">Root Component: {{today}}
  </h3>
</div>

<div style="width: 20%; float: left;">
  <span>Select Background Color:-</span><br>
  <input type="radio" value="green" name="bcol" [(ngModel)]="color">green <br>
  <input type="radio" value="red" name="bcol" [(ngModel)]="color">red<br>
  <input type="radio" value="blue" name="bcol" [(ngModel)]="color">blue<br>
  <input type="radio" value="gray" name="bcol" [(ngModel)]="color">gray<br>
</div>

<div style="width: 80%; float: left;">
  <span>Select Text Color:-</span><br>
  <input type="radio" value="white" name="tcol" [(ngModel)]="txtcolor">white<br>
  <input type="radio" value="black" name="tcol" [(ngModel)]="txtcolor">black<br>
  <input type="radio" value="orange" name="tcol" [(ngModel)]="txtcolor">orange<br>
  <input type="radio" value="yellow" name="tcol" [(ngModel)]="txtcolor">yellow<br>
</div>



<app-child [ccolor]='color' [txtcolor]='txtcolor' style="float: left;width: 40%;"></app-child>
<app-left [lcolor]='color' [txtcolor]='txtcolor' style="float: right;width: 40%;"></app-left>